/* Code editor visual styling */
.code-editor {
    z-index: -1;
    user-select: none; /* Prevents text selection */
    position: absolute; /* Fix position to the left side of the viewport */
    top: 7.5px;
    left: 0.75em;
    height: 250vh; /* Full height of the viewport */
    width: 100%; /* Width for line numbers */
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0)); /* Add fading mask */
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0)); /* For Safari */
    user-select: none;
    pointer-events: none;
}

.line {
    display: flex;
    align-items: center;
    height: 30px; /* Line height */
    transition: color 0.3s;
}

.line-number {
    width: 100%;
    text-align: left;
    padding-right: 10px;
    color: #55535B; /* Lighter color for line numbers */
    font-size: 1em;
    font-family: 'Roboto Mono';
}

.highlight {
    color: #8E8E92; /* Slightly lighter color when highlighted */
}

@media (max-width: 480px) {
    .code-editor {
        font-size: 1em;
        left:1em;
        top: 7px;
        height: 250vh;
    }

    .line {
        height: 26px;
    }
}