html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 2300px;
}

body {
    background-color: #1C1C26;
    /*background-color: #0E0F17;*/
    margin: 70px auto;

    color: white;
    font-family: 'Roboto Mono', monospace;
    width: 950px;
}

header {
    margin: auto;
    margin-top: 0px;
    width: 950px;
}

h1, #about {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    font-weight: 300;
}

#about {
    font-size: 25px;
    line-height: 40px;
}

#introduction {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 65px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.image-container {
    float: left;
    text-align: center; /* Centers the image horizontally */
}

img {
    float: left;
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures no additional space below the image */
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Space between the two sections */
    margin-top: 60px;
    margin-bottom: 175px;
    height: 300px; /* Set height to fill the viewport */
    
}

.content-item {
    flex: 1;
    overflow: auto;
}

.content-item h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: left;
    color: #fcee9a;
    font-family: 'Roboto';
}

.entry {
    text-align: left;
    margin-bottom: 40px;
    line-height: 10px;
}

.entry .entry-topic {
    font-weight: 300;
    color: white; /* White color for years */
}

.entry p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: left;
    color: rgb(200, 200, 200); /* White color */
}

.about-section #about-introduction {
    font-size: 16px;
    text-align: left;
    color: lightgray;
    margin-top: 40px;
}

.about-section #about-paragraph {
    font-size: 16px;
    margin-top: 40px;
    text-align: left;
    color: lightgray; /* White color for years */
    line-height: 29px;
}

.spacer {
    height: 0px; /* Adjust the height to add more or less space */
    background-color: transparent; /* Ensure the spacer is invisible */
}
